
/* ====== video ===== */
.video-container {
z-index: 4;
position: relative;
padding-bottom: 56.25%;
padding-top:0;
margin: 0;

}

.video-container iframe, .video-container object, .video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


/* ======= IE ====== */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .ie-size {
  width: 700px;
  margin: 0.5em auto;
  }
  .tut-right-bar {
  width: calc(1000px - 700px);
  }
  .tut-post-main {
  margin-left:10%;
  }
  @media screen and  (max-width: 40.5em) {
  .ie-size {
  width: 100%;
  }
  }
}